<!--V. AGREGAR PRODUCTOS-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Modificar Producto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="icon" href="/media/imagenes_bd/yahweh.png" type="image/x-icon">
      </head>
    <body>

{% csrf_token %}

<!--=========================================NAVBAR==================================================-->
  <nav class="navbar" aria-label="Light offcanvas navbar" style="background-color: #1ddf1b;position:fixed;top:0;width:100%;z-index:100;">
            <div class="container-fluid">
              <button class="navbar-toggler" style="background-color: #e50c57; color: white;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span><label  style="margin-left: 10px;">Acciones</label>
              </button>
              <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Acciones</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/dashboard">Inicio</a>
                      <a class="nav-link active" aria-current="page" href="/registrarproducto">Agregar Productos</a>
                      <a class="nav-link active" aria-current="page" href="/agregarhoras">Agregar Horas de Agendamiento</a>
                      <a class="nav-link active" aria-current="page" href="/agregarcategorias">Agregar Categorias</a>
                      <a class="nav-link active" aria-current="page" href="/listarproductos">Listar Productos</a>
                      <a class="nav-link active" aria-current="page" href="/listarusuarios">Listar Usuarios</a>
                      <a class="nav-link active" aria-current="page" href="/listarcategorias">Listar Categorias</a>
                      <a class="nav-link active" aria-current="page" href="/lista_agendas">Agendamientos</a>
                      <a class="nav-link active" aria-current="page" href="/seguimiento_admin">Seguimiento Compras online</a>
                      <a class="nav-link active" aria-current="page" href="/presencial_admin">Despacho Presencial</a> 
                      <a class="nav-link active" aria-current="page" href="/listar_historial">Historial de Acciones</a> 
                      <a class="nav-link active" aria-current="page" href="/cerrar Sesion">Cerrar Sesion</a> 
                    </li>
                  </ul>
                  
                </div>
              </div>
              <a class="navbar-brand" href="/dashboard" style="display: flex; align-items: center; text-decoration: none;position:relative;left:-70%;"><!--HREF DEBE LLEVAR AL DASHBOARD-->
                <img src="/media/imagenes_bd/yahweh.png" style="width:40px; height:40px;">
                <h3 style="font-size:20px; color: black;">Bicicletería Yahweh</h3>
              </a>
            </div>
  </nav>
<!--=================================FIN NAVBAR===========================================================-->


        

        <div class="container" style="border:2px solid #1ddf1b;padding:20px;margin-top:7%;margin-bottom:5%;">
            
            <h1 class="text-center">Modificar Productos</h1>
            <form id="form-actualizar-producto" action="/actualizarproducto/{{pro.id}}" method="post" enctype="multipart/form-data"> 
              {% csrf_token %}
                <div class="form-group">
                
                   
                    <label for="txtima">Imagen del Producto:</label>
                    <img src="{{ pro.imagen.url }}" alt="Imagen del producto" width="200" style="margin-bottom:1%;margin-left:1%">
                    <input type="file" name="txtima" id="txtima" accept="image/*">

                    <br/>
                    
                    <label for="txtfac">Número de Factura</label>
                    <input type="text" id="txtfac" name="txtfac" required class="form-control" readonly value="{{pro.numeroFactura}}"/>

                    <br/>

                    <label for="txtnom">Nombre del producto</label>
                    <input type="text" id="txtnom" name="txtnom" required class="form-control" value="{{pro.nombre}}" />

                    <br/>

                    <label for="txtdes">Descripcion del producto</label>
                    <textarea class="form-control" id="txtdes" rows="3" name="txtdes" >{{pro.descripcion}}</textarea>
                    
                    <br/>

                    <label for="cbomat">Material del producto</label>
                    <select name="cbomat" required class="custom-select" id="cbomat">
                        <option value="">Seleccione Material</option>
                              {% for mat in materiales %}
                                  <option value="{{ mat }}" {% if pro.material == mat %}selected{% endif %}>{{ mat }}</option>
                              {% endfor %}
                    </select>

                    <br/><br/>

                    <label for="txtsto">Stock del Producto</label>
                    <input type="number" class="form-control" required name="txtsto" pattern="\d*" min="1" id="txtsto" value="{{pro.stock}}">

                    <br/>

                    <label for="txtcos">Precio de Compra:</label>
                    <input type="number" id="txtcos" name="txtcos" step="0.01" style="margin-right:9%" value="{{pro.precioCompra}}">

                    <label for="cbouti">Utilidad:</label>
                    <select id="cbouti" name="cbouti" style="margin-right:9%">
                      <option value="0.10" {% if utilidad == 0.10 %}selected{% endif %}>10%</option>
                      <option value="0.15" {% if utilidad == 0.15 %}selected{% endif %}>15%</option>
                      <option value="0.20" {% if utilidad == 0.20 %}selected{% endif %}>20%</option>
                      <option value="0.25" {% if utilidad == 0.25 %}selected{% endif %}>25%</option>
                      <option value="0.30" {% if utilidad == 0.30 %}selected{% endif %}>30%</option>
                    </select>

                    <label for="txtpre">Precio de Venta:</label>
                    <input type="number" id="txtpre" name="txtpre" step="0.01" readonly value="{{pro.precio}}">

                    <br/><br/>

                    <label for="cboprov">Proveedor</label>
                    <select name="cboprov" required class="custom-select" id="cboprov" style="margin-right:3%" >
                        <option value="">Seleccione Proveedor</option>
                        {% for x in prov %}
                            <option value="{{ x.descripcion }}" {% if x.descripcion == pro.proveedor.descripcion %}selected{% endif %}>{{ x.descripcion }}</option>
                        {% endfor %}
                    </select>

                    <label for="cbotip">Tipo de producto</label>
                    <select name="cbotip" required class="custom-select" id="cbotip" style="margin-right:3%">
                        <option value="">Seleccione tipo de Producto</option>
                        {% for x in tippro %}
                            <option value="{{ x.descripcion }}" {% if x.descripcion == pro.tipoProducto.descripcion %}selected{% endif %}>
                                {{ x.descripcion }}
                            </option>
                        {% endfor %}
                    </select>

                    <label for="cboest">Estado del producto</label>
                    <select name="cboest" required class="custom-select" id="cboest">
                        <option value="">Seleccione estado del Producto</option>
                        {% for x in estpro %}
                            <option value="{{ x.descripcion }}" {% if x.descripcion == pro.estadoProducto.descripcion %}selected{% endif %}>
                                {{ x.descripcion }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    <br/><br/><br/>
                    <input type="submit" value="Actualizar Producto" class="btn btn-primary btn-lg" style="width:100%; background-color:#e50c57;font-weight:bold;border:none;"/>
            
                </div>
            </form>
            <br/>
        </div>

        <!--SCRIPT PARA CALCULAR UTILIDAD-->
        <script>
          const costoInput = document.getElementById('txtcos');
          const utilidadSelect = document.getElementById('cbouti');
          const ventaInput = document.getElementById('txtpre');

          function calcularPrecioVenta() {
            const costo = parseFloat(costoInput.value);
            const utilidad = parseFloat(utilidadSelect.value);

            if (!isNaN(costo) && !isNaN(utilidad)) {
              const precio = costo + (costo * utilidad);
              ventaInput.value = Math.round(precio);
            } else {
              ventaInput.value = '';
            }
          }

          costoInput.addEventListener('input', calcularPrecioVenta);
          utilidadSelect.addEventListener('change', calcularPrecioVenta);
        </script>


        <!--SCRIPT MOTIVO ACTUALIZAR-->
        <script>
          document.getElementById('form-actualizar-producto').addEventListener('submit', function(event){
              event.preventDefault(); // evitar submit inmediato
              
              // Mostrar prompt para motivo
              let motivo = prompt("Por favor, ingresa el motivo de la actualización:");
              
              if (motivo === null || motivo.trim() === "") {
                  alert("El motivo es obligatorio para actualizar.");
                  return; // no envía el formulario
              }
              
              // Crear un input hidden para enviar el motivo junto con el form
              let inputMotivo = document.createElement('input');
              inputMotivo.type = 'hidden';
              inputMotivo.name = 'motivo';
              inputMotivo.value = motivo;
              
              this.appendChild(inputMotivo);
              this.submit();  // ahora sí envía el formulario
          });
        </script>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>